/* Hide the header when the page is inside an iframe */
@media screen and (max-width: 76.1875em) {
  .md-header {
    display: none;
  }
}

@media screen and (min-width: 76.25em) {
  .md-header {
    display: none;
  }
}

/* Increase top margin for content when inside an iframe */
.md-content__inner {
  margin-top: 4rem; /* Adjust this value as needed */
} 